*

!.gitignore

!src
!src/**
!static
!static/**

!package.json
!postcss.config.js
!vite.config.js
!tailwind.config.js

!README.md

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build