*

!.gitignore
!CNAME
!.github
!.github/**
!README.md
!AUTHORS
!MAINTAINERS.md
!institutional-website-v1
!institutional-website-v1/.gitignore

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build