*

!/.gitignore
!/.nojekyll

!/CNAME
!/.github
!/.github/**

!/README.md
!/AUTHORS
!/MAINTAINERS.md
!/institutional-website-v3
!/institutional-website-v2
!/institutional-website-v3/.gitignore
!/institutional-website-v2/.gitignore

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build